*{margin: 0; padding: 0; box-sizing: border-box; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }
header{
    background-color: rgb(71, 69, 69);
    padding-top: 35px;
    padding-bottom: 35px;
}
.container{
    margin: 50px auto;;
    border-radius: 8px;
    max-width: 80%;
    height: 107vh;
    background-color: rgba(128, 128, 128, 0.267);
    padding: 30px;
}
h1,h3{
    text-align: center;
    padding: 10px;
    color: whitesmoke;
}
#form{
    display: flex;
    align-items: center;
    justify-content: center;
}
input{
    border-style: none;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}
textarea{display: block;
    border-radius: 5px;
    max-width: 80vw;

}
p{  font-size: small;
    padding: 10px 0 5px 5px;
}
.btn{margin-top: 10px;
    padding: 5px 15px;
}
.bg{
    width: 100vw;
    position: absolute;
    z-index: -1;
}
@media (max-width:600px){
    .bg{
        display: none;
    }
    .container{
        max-width: 100%;
        height: 40rem;
        border-radius: 0;
        background-color: rgb(128, 128, 128) !important;
        margin: 0;
    }
}